﻿/*!
Theme Name: radevs
Theme URI: http://underscores.me/
Author: Жадан А.В.
Author URI: https://www.linkedin.com/in/zhadan-a/
Description: Тестовое задание
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: radevs
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

radevs is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}.container{width:1140px;margin-right:auto;margin-left:auto}@media all and (max-width: 990px){.container{width:100%}}.row{margin-left:-25px;vertical-align:top}.span{display:inline-block;margin-left:25px;vertical-align:top}.span_12{width:calc(100% - 25px)}.span_11{width:calc(91.6667% - 25px)}.span_10{width:calc(80% - 25px)}.span_9{width:calc(75% - 25px)}.span_8{width:calc(66.6667% - 25px)}.span_7{width:calc(60% - 25px)}.span_6{width:calc(50% - 25px)}.span_5{width:calc(40% - 25px)}.span_4{width:calc(33.3333% - 25px)}@media all and (max-width: 990px){.span_4{width:calc(100% - 25px)}}.span_3{width:calc(25% - 25px)}.span_2{width:calc(20% - 25px)}.span_1{width:calc(8.3333% - 25px)}.site-header{background:#eef5f6;min-height:150px;padding-top:30px}@media all and (max-width: 990px){.site-header{padding-left:15px;padding-right:15px;padding-top:15px}}.site-header .search-submit{display:none}.site-header .search-field{width:100%}.textleft{text-align:left}@media all and (max-width: 990px){.textleft{text-align:center}}.textright{text-align:right}@media all and (max-width: 990px){.textright{text-align:center}}.paddingleft{padding-left:25px}@media all and (max-width: 990px){.paddingleft{padding-left:0}}.site-main__header{background:#eef5f6;height:280px;padding-top:22px}.site-main__header_text{text-shadow:0px 4px 4px rgba(0,0,0,0.25);font-size:28px;line-height:34px}@media all and (max-width: 990px){.site-main__header_text{font-size:19px;line-height:24px;margin-left:0}}#primary-menu{background:#fff;margin-left:25px;display:flex;align-items:center;justify-content:space-around;width:100%;min-height:60px}#primary-menu a{font-weight:700;font-family:"Montserrat", sans-serif;color:#1a1818;line-height:20px;text-transform:uppercase;padding:1.33em 1.05em}#primary-menu a:hover{color:#000}#primary-menu a:hover::before{left:0;width:100%;background:#1a1818}#primary-menu a::before{content:"";position:absolute;background:transparent;height:3px;right:0;bottom:0;left:50%;transition:all .4s;width:0;margin-bottom:2px}.site-main_popular_slider{margin-top:-190px}.site-main_popular_slider .popular_slider__product{margin:35px 20px;padding:30px 12px;padding-top:45px;text-align:center;filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));background-color:#fff}.site-main_popular_slider .popular_slider__product_price{font-weight:800;font-family:"Montserrat", sans-serif;color:#404040;font-size:20px}.site-main_popular_slider .popular_slider__product a{text-decoration:none;color:#404040}.site-main_popular_slider .popular_slider__product h2{font-size:17px;font-weight:600;font-family:"Montserrat", sans-serif}.site-main_popular_slider .popular_slider__product img{margin-left:auto;margin-right:auto}.top_banner{background-color:#404040;color:#fff;position:fixed;top:0;height:25px;left:0;width:100%;padding-top:3px;padding-bottom:2px;padding-left:20vw}@media all and (max-width: 990px){.top_banner{display:none}}.top_banner__offer_text{font-weight:700;text-transform:uppercase;float:right;right:25px}.top_banner__offer_text span{margin-left:15px;margin-right:25px}body,button,input,select,optgroup,textarea{color:#404040;font-family:"Montserrat", sans-serif;font-size:15px;line-height:1.5}@media all and (max-width: 990px){body,button,input,select,optgroup,textarea{font-size:14px}}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch", courier, monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}body{background:#fff}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:#4169e1}a:visited{color:#800080}a:hover,a:focus,a:active{color:#191970}a:focus{outline:thin dotted}a:hover,a:active{outline:0}button,input[type="button"],input[type="reset"],input[type="submit"]{border:3px solid #cddde2;border-radius:4px;background:#cddde2;color:#1a1818;line-height:22px;cursor:pointer;text-transform:uppercase;padding:0.6em 1.2em 0.5em;font-weight:600;transition:all .65s}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{background-color:transparent}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{background-color:transparent;opacity:0.85}button.btn_cart,button.btn_log_in,input[type="button"].btn_cart,input[type="button"].btn_log_in,input[type="reset"].btn_cart,input[type="reset"].btn_log_in,input[type="submit"].btn_cart,input[type="submit"].btn_log_in{padding-right:calc(44px + 1em);margin-top:25px;position:relative}@media all and (max-width: 990px){button.btn_cart,button.btn_log_in,input[type="button"].btn_cart,input[type="button"].btn_log_in,input[type="reset"].btn_cart,input[type="reset"].btn_log_in,input[type="submit"].btn_cart,input[type="submit"].btn_log_in{width:calc(50% - 10px);margin:15px 3px 5px !important}}button.btn_cart,input[type="button"].btn_cart,input[type="reset"].btn_cart,input[type="submit"].btn_cart{margin-right:10px}button.btn_cart .btn_cart_icon,input[type="button"].btn_cart .btn_cart_icon,input[type="reset"].btn_cart .btn_cart_icon,input[type="submit"].btn_cart .btn_cart_icon{background:url("/wp-content/themes/radevs/img/icons.png") no-repeat -10px -98px;width:24px;height:24px;position:absolute;display:inline-block;margin-top:-1px;margin-left:10px;right:16px}button.btn_log_in,input[type="button"].btn_log_in,input[type="reset"].btn_log_in,input[type="submit"].btn_log_in{margin-right:25px}button.btn_log_in .btn_log_in_icon,input[type="button"].btn_log_in .btn_log_in_icon,input[type="reset"].btn_log_in .btn_log_in_icon,input[type="submit"].btn_log_in .btn_log_in_icon{background:url("/wp-content/themes/radevs/img/icons.png") no-repeat -10px -10px;width:24px;height:24px;position:absolute;display:inline-block;margin-top:-1px;margin-left:10px;right:16px}.slick-next::before,.slick-prev::before{color:black !important}input[type="search"]{border:3px solid #cddde2 !important;border-radius:4px !important;background:transparent;margin-top:5px;margin-bottom:14px}input[type="search"]:hover,input[type="search"]:active{background:#fff;transition:all .45s}.button_call{font-size:12px;font-weight:300;text-decoration:none;color:#1a1818}@media all and (max-width: 990px){.button_call{font-size:13.5px}}.button_call p{margin-top:7px;margin-bottom:3px}@media all and (max-width: 990px){.button_call p{margin-top:5.5px;margin-bottom:2.5px}}.site-branging_logo{text-align:center;margin-bottom:5px;vertical-align:bottom}.heart{background:url("/wp-content/themes/radevs/img/icons.png") no-repeat -2px -184px;width:38px;height:34px;position:absolute;display:inline-block;top:7px;right:9px}.heart:hover{background:url("/wp-content/themes/radevs/img/icons.png") no-repeat -2px -139px;cursor:pointer}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.main-navigation{display:block;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{display:block;text-decoration:none}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width: 37.5em){.menu-toggle{display:none}.main-navigation ul{display:flex}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.sticky{display:block}.post,.page{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.stick{background:#EC3C24;width:40px;height:4px;margin-top:37px;margin-bottom:10px;box-shadow:0 11px 21px rgba(0,0,0,0.25),0 7px 7px rgba(0,0,0,0.22);display:inline-block;margin-left:25px;vertical-align:top}@media all and (max-width: 990px){.stick{width:14px;margin-top:25px}}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}

/*# sourceMappingURL=public/style.css.map */
