button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid $color__background-button;
	border-radius: 4px;
	background: $color__background-button;
	color: $color__text_elements;
	line-height: 22px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0.6em 1.2em 0.5em;
	font-weight: 600;
	transition: all .65s;

	&:hover {
		background-color: $button__background_color-hover;
	}

	&:active,
	&:focus {
		background-color: $button__background_color-focus;
		opacity: $button__opacity-focus;
	}
	
	&.btn_cart,&.btn_log_in{
		padding-right: calc(44px + 1em);
		margin-top: 25px;
		position: relative;
		@media all and (max-width:990px){
			width: calc(50% - 10px);
			margin: 15px 3px 5px!important;
		}
	}

	&.btn_cart{
		margin-right: 10px;
		.btn_cart_icon{
			background: url('/wp-content/themes/radevs/img/icons.png') no-repeat -10px -98px;
			width: 24px;
			height: 24px;
			position: absolute;
			display: inline-block;
			margin-top: -1px;
			margin-left: 10px;
			right: 16px;
		}
	}
	
	&.btn_log_in{
		margin-right: 25px;
		.btn_log_in_icon{
			background: url('/wp-content/themes/radevs/img/icons.png') no-repeat -10px -10px;
			width: 24px;
			height: 24px;
			position: absolute;
			display: inline-block;
			margin-top: -1px;
			margin-left: 10px;
			right: 16px;
		}
	}
}

.slick-next::before,.slick-prev::before{
    color: black!important;
}

input[type="search"]{
	border: 3px solid $color__background-button!important;
	border-radius: 4px!important;
	background: transparent;
	margin-top: 5px;
	margin-bottom: 14px;
	&:hover,&:active{
		background: #fff;
		transition: all .45s;
	}
}

.button_call{
	font-size: 12px;
	font-weight: 300;
	text-decoration: none;
	color: $color__text_elements;
	@media all and (max-width:990px){
		font-size: 13.5px;
	}
	p{
		margin-top: 7px;
		margin-bottom: 3px;
		@media all and (max-width:990px){
			margin-top: 5.5px;
			margin-bottom: 2.5px;
		}
	}
}

.site-branging_logo{
	text-align: center;
	margin-bottom: 5px;
	vertical-align: bottom;
}


.heart{
	background: url('/wp-content/themes/radevs/img/icons.png') no-repeat -2px -184px;
	width: 38px;
	height: 34px;
	position: absolute;
	display: inline-block;
	top: 7px;
	right: 9px;
	&:hover{
		background: url('/wp-content/themes/radevs/img/icons.png') no-repeat -2px -139px;
		cursor: pointer;
	}
}