$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(205, 221, 226, 1);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__text_elements: rgba(26, 24, 24, 1);
$color__background-blocks: rgba(238, 245, 246, 1);
$button__background_color-hover: transparent; 
$button__background_color-focus: transparent;
$button__opacity-focus: 0.85;
$color__border-input: #ccc;
$color__border-abbr: #666;
