.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.stick{
	background: #EC3C24;
	width: 40px;
	height: 4px;
	margin-top: 37px;
	margin-bottom: 10px;
	box-shadow: 0 11px 21px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
	@media all and (max-width:990px){
		width: 14px;
		margin-top: 25px;
	}
}
