body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 15px;
	line-height: $font__line-height-body;
	@media all and (max-width:990px){
		font-size: 14px;
	}
}

@import "headings";
@import "copy";
