/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

$span_padding: 25px;

.container{
	width: 1140px;
	margin-right: auto;
	margin-left: auto;
}

@media all and (max-width:990px){
	.container{
		width: 100%;
	}
}

.row{
	margin-left: -$span_padding;
	vertical-align: top;
}

.span{
	display: inline-block;
	margin-left: $span_padding;
	vertical-align: top;
	&_12{
		width: calc(100% - #{$span_padding});
	}
	&_11{
		width: calc(91.6667% - #{$span_padding});
	}
	&_10{
		width: calc(80% - #{$span_padding});
	}
	&_9{
		width: calc(75% - #{$span_padding});
	}
	&_8{
		width: calc(66.6667% - #{$span_padding});
	}
	&_7{
		width: calc(60% - #{$span_padding});
	}
	&_6{
		width: calc(50% - #{$span_padding});
	}
	&_5{
		width: calc(40% - #{$span_padding});
	}
	&_4{
		width: calc(33.3333% - #{$span_padding});
		@media all and (max-width:990px){
				width: calc(100% - #{$span_padding});
		}
	}
	&_3{
		width: calc(25% - #{$span_padding});
	}
	&_2{
		width: calc(20% - #{$span_padding});
	}
	&_1{
		width: calc(8.3333% - #{$span_padding});
	}
}

.site-header{
	background: $color__background-blocks;
	min-height: 150px;
	padding-top: 30px;
	@media all and (max-width:990px){
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
	}
	.search-submit{
		display: none;
	}
	.search-field{
		width: 100%;
	}
}

.textleft{
	text-align: left;
	@media all and (max-width:990px){
			text-align: center;
	}
}

.textright{
	text-align: right;
	@media all and (max-width:990px){
			text-align: center;
	}
}

.paddingleft{
	padding-left: $span_padding;
	@media all and (max-width:990px){
			padding-left: 0;
	}
}

.site-main__header{
	background: $color__background-blocks;
	height: 280px;
	padding-top: 22px;
	&_text{
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 28px;
		line-height: 34px;
		@media all and (max-width:990px){
			font-size: 19px;
			line-height: 24px;
			margin-left: 0;
		}
	}
}

#primary-menu{
	background: #fff;
	margin-left: $span_padding;
	display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
	min-height: 60px;
	a{
		font-weight: 700;
		font-family: $font__main;
		color: $color__text_elements;
		line-height: 20px;
		text-transform: uppercase;
		padding: 1.33em 1.05em;
		&:hover{
			color: #000;
			&::before {
				left: 0;
				width: 100%;
				background: $color__text_elements;
			}
		}
		&::before {
			content: "";
			position: absolute;
			background: transparent;
			height: 3px;
			right: 0;
			bottom: 0;
			left: 50%;
			transition: all .4s;
			width: 0;
			margin-bottom: 2px;
		}
	}
}

.site-main_popular_slider{
	margin-top: -190px;
	.popular_slider__product{
		
		margin: 35px 20px;
		padding: 30px 12px;
		padding-top: 45px;
		text-align: center;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		background-color: #fff;
		&_price{
			font-weight: 800;
			font-family: $font__main;
			color: $color__text-main;
			font-size: 20px;
		}
		a{
			text-decoration: none;
			color: $color__text-main;
		}
		h2{
			font-size: 17px;
			font-weight: 600;
			font-family: $font__main;
		}
		img{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.top_banner{
	background-color: $color__text-main;
	color: #fff;
	position: fixed;
	top: 0;
	height: 25px;
	left: 0;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 20vw;
	@media all and (max-width:990px){
		display: none;
	}
	&__offer_text{
		font-weight: 700;
		text-transform: uppercase;
		float: right;
		right: $span_padding;
		span{
			margin-left: 15px;
			margin-right: $span_padding;
		}
	}
}

